/*
!/src
/src/helper/crypto.js
/photoShop_images
!app.json
!index.js
!package.json
!.gitignore
!README.md

!/android
/android/*
!/android/app
!/android/gradle.properties.sample
/android/app/*
!/android/app/src
/android/app/src/debug
!/android/app/build.gradle
