/*
!/src
!/photoShop_images
!/apktool
!README.md
!app.json
!index.js
!package.json
!.gitignore

!/android
/android/*
!/android/app
!/android/gradle.properties
/android/app/*
!/android/app/src
!/android/app/build.gradle

