/*
!/src
!/photoShop_images
!/apktool
!app.json
!index.js
!package.json
!.gitignore
!my-release-key.keystore

!/android
/android/*
!/android/app
!/android/gradle.properties
/android/app/*
!/android/app/src
!/android/app/my-release-key.keystore
!/android/app/build.gradle
